@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.btn {
    @apply bg-linear-to-r from-[#00ad6a] to-[#1fe374] text-[#080c16] cursor-pointer py-[10px] px-[15px] font-extrabold font-[montserrat];
}
.btn.pressed {
    transform: scale(0.97);
}
.tick-good {
  @apply text-[#00ad6a] absolute left-1 top-0;
}
.more-info {
  @apply space-y-2;
}
.more-info > li {
  @apply relative pl-8 text-left;
}
.brand-name {
  @apply text-[#00ad6a] text-[30px] font-[Montserrat];
}
.faq > div {
  @apply text-[18px];
}

@theme {
  --breakpoint-customone: 1200px;
  --breakpoint-customtwo: 1100px;
  --breakpoint-customthree: 850px;
  --breakpoint-customfour: 410px;
  --breakpoint-customfive: 780px;
  --breakpoint-customsix: 851px;
  --breakpoint-customseven: 480px;
}

@media (max-width: 850px) {
  header {
    @apply p-5 w-full bg-[#fcfcfc] top-0 border-b border-b-[#d6dae5] fixed;
  }
}

#slide-menu {
    width: 50px;
    height: 40px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    z-index: 100;
    position: relative;
}
#slide-menu span {
    height: 4px;
    width: 100%;
    background: #00ad6a;
    border-radius: 2px;
    transition: all 0.4s ease;
}
#slide-menu.active span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}
#slide-menu.active span:nth-child(2) {
    opacity: 0;
}
#slide-menu.active span:nth-child(3) {
    transform: rotate(-45deg) translate(11px, -11px);
}


.reveal {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.8s ease, transform 0.8s ease;
}

.reveal.active {
    opacity: 1;
    transform: translateY(0);
}

.slide-bar {
  position: fixed;
  top: -110vh;
  height: 100vh;
  transition: top 0.4s ease;
  width: 100vw;
  background-color: #eafaf1;
}

.slide-bar.active {
  top: 70px;
  display: block;
  
}

.second-btn {
  @apply w-full mt-5;
}
.second-btn button {
  @apply w-full;
}